@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

@keyframes premiumBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes premiumGlow {
  0% {
    transform: translateX(-24%) scaleY(0.96);
    opacity: 0.2;
  }

  50% {
    transform: translateX(980%) scaleY(1.04);
    opacity: 0.62;
  }

  100% {
    transform: translateX(-24%) scaleY(0.96);
    opacity: 0.2;
  }
}
